.logo{
  width: 75px;
  height: 100px;
}
.fas {
  cursor: pointer;
  margin-left: 7px;
  font-size: 150%;
}
.badge{
  margin: 2px;
  font-size: 90%;
}
.est {
  cursor: pointer;
}
.est:active{
  opacity: 0.07;
}
.modal-dialog{
  max-width: 85% !important;

}
hr{
  width: 100%;
  margin-bottom: 0.2px !important;
}
.card .container{
  margin:   1px 10px;
  padding: 3px;
}
span {
  font-weight: 800;
}
p{
  font-weight: 600;
}
.card-text{
  margin-bottom: 0px;
  padding: 2px;
  margin-left: 0px;
}
.card-body{
  margin:   1px 10px;
  padding: 0px !important;
}
label{
  font-size: 13px;
}
.badge {
  margin: 2px;
  font-size: 90%;
}
.rec{
  text-transform: capitalize !important;
  font-size: 15px;
}
.segui{
  margin-top: 0px;
  margin-left: 60px !important;
  margin-right: 30px !important;
}
@media only screen and (max-width:768px){
  .modal-dialog{
    max-width: 100% !important;
  }
  .segui{
    background-color: aquamarine;
  }
  .logo{
    width: 40px;
    height: 50px;
    margin-left: 5px !important;
  }
}
.cardchek{
  width: 30px !important;
  height: 15px !important;
  margin-bottom: 6px;
}
label{
  font-size: 13px;
}
.fw-normal{
  font-size: 13px;
}

