  .logo img {
    width: 180px;
  }



  #menu{
    justify-content: center;
    left: 20px;
    margin-right: 50px;
  }




  #menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;


  }

  #menu a:hover,
  .active{
    color: rgb(223, 58, 229)!important;
  }
header{
  background-color: rgba(10, 190, 235, 0.5);
}
.container-fluid {
  margin-left: 10% !important;
}
.dropdown-menu{
  background-color: rgba(225, 88, 197, 0.5);
}
