<header id="header" class="fixed-top p-0">
  <marquee direction="left" style="font-family: Rajdhani, sans-serif; color: #FFFFFF" bgcolor="#00224f" scrolldelay="100" behavior="loop">Betanzos, a 45Km. de la ciudad de Potosí-------- a 109Km. de la ciudad de Sucre</marquee>
    <div class="center">
        <!--MENU-->
        <nav id="menu"class="navbar navbar-expand-lg navbar-light">
            <!--LOGO-->
          <div class="logo">
            <img src="./assets/img/logogambb.png" class = "app-logo" alt="Logotipo"/>
          </div>
          <div class="container-fluid ">
            <button class="navbar-toggler p2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav me-auto  ml-5 mb-lg-0">
                <li class="nav-item">
                  <a  class="nav-link active" aria-current="page" href="/home">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/work">MUNICIPIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/work">NOTICIAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/work">CONCEJO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/work">TRANSPARENCIA</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    OFICINA VIRTUAL
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a  class="dropdown-item" href="/hoja-ruta/dashboard">HOJA DE RUTA</a></li>
                    <li><a class="dropdown-item" href="/work">ALMACENES</a></li>
                    <li><a class="dropdown-item" href="/work">ARCHIVOS</a></li>
                    <li><a class="dropdown-item" href="/work">CEMENTERIO</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/work">RR.HH.</a></li>
                    <li><a class="dropdown-item" href="/work">CONVENIOS</a></li>
                    <li><a class="dropdown-item" href="/work">INVERSION PUBLICA</a></li>
                    <li><a class="dropdown-item" href="/work">CORRESPONDENCIA</a></li>
                    <li><a class="dropdown-item" href="/work">CITES</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                <button class="btn btn-outline-primary fa" type="submit">&#xf002;</button>
              </form>
            </div>
          </div>
        </nav>
        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>
