
.fas {
  cursor: pointer;
  margin-left: 7px;
  font-size: 170%;
}
.fasre{
  cursor: pointer;
  font-size: 120%;
}
.fasar{
  cursor: pointer;
  font-size: 130%;
}
.badge {
  margin: 2px;
  font-size: 90%;
  cursor: pointer;

}
.badge:active{
  opacity: 0.07;
}
input[type=radio] {
  width: 20px;
  height: 20px;
}
