.logo{
  width: 70px;
}
.sizeAlert{
  width: 150px;
}
hr{
  width: 100%;
  margin-bottom: 0.2px !important;
}
.card .container{
  margin:   1px 10px;
  padding: 3px;
}
span {
  font-weight: 800;
}
p{
  font-weight: 600;
}
.card-text{
  margin-bottom: 0px;
  padding: 2px;
  margin-left: 0px;
}
.card-body{
  margin:   1px 10px;
  padding: 0px !important;
}
label{
  font-size: 13px;
}
.badge {
  margin: 2px;
  font-size: 90%;
}
.rec{
  text-transform: capitalize !important;
  font-size: 10px;
}
