<div class="container pt-3">
  <div class="row">
    <div class="card">
      <div class="card-body text-center">
        <span class="titulo">LISTA DE HOJAS DE RUTA </span>
        <button
          class="btn btn-success float-end"
          *ngIf="
            (identity && identity.roles === 'SUPER_ADMIN') ||
            identity.roles === 'SECRETARIA'
          "
          data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        >
          NUEVO
        </button>
        <div class="form-group m-0">
          <input
            type="text"
            class="form-control"
            name="filterhoja"
            placeholder="Filtrar por numero Hoja de Ruta"
            [(ngModel)]="filterhoja"
          />
        </div>
        <table *ngIf="hojas.length > 0" class="table table-striped mt-0">
          <thead>
            <tr>
              <th
                scope="col"
                *ngIf="
                  (identity && identity.roles === 'SUPER_ADMIN') ||
                  identity.roles === 'SECRETARIA'
                "
              >
                Enviar
              </th>
              <th scope="col">NumeroHR</th>
              <th scope="col">Fecha de Recepción</th>
              <th scope="col">HORA</th>
              <th scope="col">Fecha de Documento</th>
              <th scope="col">Origen</th>
              <th scope="col">Referencia</th>
              <th scope="col">Estado</th>
              <th scope="col">Seguimiento</th>
              <th
                scope="col"
                *ngIf="
                  (identity && identity.roles === 'SUPER_ADMIN') ||
                  identity.roles === 'SECRETARIA'
                "
              >
                Imprimir
              </th>
              <th scope="col">Adjunto</th>
              <th
                scope="col"
                *ngIf="
                  (identity && identity.roles === 'SUPER_ADMIN') ||
                  identity.roles === 'SECRETARIA'
                "
              >
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              [ngClass]="
                hoja.estado === 'REGISTRADO'
                  ? 'table-danger border-2 border-danger'
                  : 'table-success border-2 border-success'
              "
              *ngFor="
                let hoja of hojas
                  | filter: filterhoja
                  | paginate: { itemsPerPage: 10, currentPage: pageActual }
              "
            >
              <td
                *ngIf="
                  (identity && identity.roles === 'SUPER_ADMIN') ||
                  identity.roles === 'SECRETARIA'
                "
              >
                <i
                  [routerLink]="['/hoja-ruta/seguimiento-add', hoja._id]"
                  class="fas fa-space-shuttle text-primary"
                  *ngIf="hoja.estado === 'RECIBIDO'"
                ></i>
                <i
                  [routerLink]="null"
                  class="fas fa-space-shuttle text-primary"
                  style="color: rgb(171, 178, 241) !important"
                  *ngIf="hoja.estado === 'ENVIADO'"
                ></i>
              </td>
              <td>{{ hoja.nuit }}</td>
              <td>{{ hoja.fecharesepcion | date: "dd/MM/yyyy" }}</td>
              <td>{{ hoja.fecharesepcion | date: "HH:MM:ss" }}</td>
              <td>{{ hoja.fechadocumento | date: "dd/MM/yyyy" }}</td>
              <td>{{ hoja.origen }}</td>

              <td>{{ hoja.referencia }}</td>
              <td
                *ngIf="
                  (identity && identity.roles === 'SUPER_ADMIN') ||
                  identity.roles === 'SECRETARIA'
                "
                (click)="cambiarestado(hoja._id)"
                [ngSwitch]="hoja.estado"
              >
                <span
                  *ngSwitchCase="'REGISTRADO'"
                  class="badge est badge-danger"
                  >{{ hoja.estado }}</span
                >
                <span
                  *ngSwitchCase="'RECIBIDO'"
                  class="badge est badge-success"
                  >{{ hoja.estado }}</span
                >
                <span *ngSwitchCase="'ENVIADO'" class="badge est badge-info">{{
                  hoja.estado
                }}</span>
              </td>
              <td
                [ngSwitch]="hoja.estado"
                *ngIf="
                  identity.roles === 'ADMIN' ||
                  identity.roles === 'SUPER_USER' ||
                  identity.roles === 'USER'
                "
              >
                <span *ngSwitchCase="'REGISTRADO'" class="badge badge-danger">{{
                  hoja.estado
                }}</span>
                <span *ngSwitchCase="'RECIBIDO'" class="badge badge-success">{{
                  hoja.estado
                }}</span>
                <span *ngSwitchCase="'ENVIADO'" class="badge badge-info">{{
                  hoja.estado
                }}</span>
              </td>
              <td>
                <i
                  class="fas fa-align-justify text-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="seguimi(hoja._id)"
                  title="Ver Seguimiento"
                ></i>
                <i
                  (click)="listaso(hoja._id)"
                  *ngIf="hoja.asociado.length > 0"
                  class="fas fa-paperclip text-primary"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Ver Asociados"
                ></i>

                <i
                  [routerLink]="['/hoja-ruta/asociar', hoja.nuit]"
                  class="fas fa-paste text-primary"
                  *ngIf="
                    (hoja.estado !== 'REGISTRADO' &&
                      hoja.estado !== 'RECIBIDO' &&
                      identity &&
                      identity.roles === 'SUPER_USER') ||
                    (identity.roles === 'ADMIN' && hoja.estado !== 'REGISTRADO')
                  "
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Asociar"
                ></i>
              </td>
              <td
                *ngIf="
                  (identity && identity.roles === 'SUPER_ADMIN') ||
                  identity.roles === 'SECRETARIA'
                "
              >
              <i
                  class="fas fa-print text-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"
                  (click)="seguimi(hoja._id)"
                  title="Imprimir"
                ></i>
              </td>
              <td>
                <i
                  [routerLink]="['/hoja-ruta/list-files', hoja._id]"
                  class="fas fa-cloud-download-alt"
                  style="color: rgb(29, 14, 248) !important"
                ></i>
              </td>
              <td
                *ngIf="
                  (identity && identity.roles === 'SUPER_ADMIN') ||
                  identity.roles === 'SECRETARIA'
                "
              >
                <i
                  [routerLink]="['/hoja-ruta/hoja-add/', hoja._id]"
                  class="fas fa-edit text-primary"
                ></i>

                <i
                  (click)="eliminarHoja(hoja._id)"
                  class="fas fa-trash text-danger"
                  *ngIf="hoja.estado === 'REGISTRADO'"
                ></i>
                <i
                  class="fas fa-trash text-danger"
                  style="color: rgb(216, 139, 103) !important"
                  *ngIf="hoja.estado === 'ENVIADO'"
                ></i>
                <i
                  class="fas fa-trash text-danger"
                  style="color: rgb(250, 146, 98) !important"
                  *ngIf="hoja.estado === 'RECIBIDO'"
                ></i>
                <i
                  [routerLink]="['/hoja-ruta/asociar', hoja.nuit]"
                  class="fas fa-paste text-primary"
                  *ngIf="hoja.estado !== 'REGISTRADO'"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Asociar"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          *ngIf="hojas.length > 10"
          (pageChange)="pageActual = $event"
        ></pagination-controls>
        <app-spiner *ngIf="loading"></app-spiner>
      </div>
    </div>
  </div>
</div>

<!--MODAL IMPRIMIR-->

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1 d-flex justify-content-around">
        <button
          type="button"
          class="btn btn-success p-0"
          data-bs-dismiss="modal"
          (click)="ImprimirHRPDF()"
        >
          <i class="fas fa-print p-0"></i>
          Imprimir
        </button>
        <button
          type="button"
          class="btn btn-primary p-0"
          (click)="downloadHRPDF()"
        >
          <i class="fas fa-cloud-download-alt p-0"></i>
          Descargar
        </button>
      </div>
      <div class="modal-body pb-0">
        <div id="htmlData">
          <div class="segui">
            <div class="d-flex justify-content-between ml-3 mb-0">
              <div>
                <img src="assets/img/logo.png" class="logo ml-4 mb-0" />
              </div>
              <div class="text-center ml-5 mt-3 mb-0">
                <p class="mb-0 fs-5">GOBIERNO AUTÓNOMO MUNICIPAL DE BETANZOS</p>
                <p class="mb-0">
                  Primera Sección Municipal Provincial Cornelio Saavedra
                </p>
                <samp>Betanzos - Potosí - Bolivia</samp>
                <p class="mb-0 fs-4">HOJA DE RUTA</p>
              </div>
              <div class="p-3 mt-4">
                <h5 class="text-center mb-0 fs-5 mb-1">NUIT</h5>
                <div class="badge badge-info text-dark text-center fs-5">
                  N°:&nbsp;&nbsp;<strong></strong>{{ rutas.nuit | uppercase }}
                </div>
              </div>
            </div>
            <div class="card pl-2 pr-2 border-3 border-primary mb-1">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="card-text fw-normal">
                    <span>Fecha de recepcion: </span
                    >{{ rutas.fecharesepcion | date: "dd/MM/yyyy" }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Hora: </span
                    >{{ rutas.fecharesepcion | date: "HH:MM:ss" }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Fecha de documento: </span
                    >{{ rutas.fechadocumento | date: "dd/MM/yyyy" }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Telefono: </span>{{ rutas.contacto }}
                  </p>
                </div>
                <hr class="mt-0" />
                <div class="d-flex justify-content-between">
                  <p class="card-text fw-normal">
                    <span>Origen: </span>{{ rutas.origen }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Tipo de documento: </span>{{ rutas.tipodoc }}
                  </p>
                </div>
                <hr class="mt-0" />
                <p class="card-text text-break lh-1 pt-1 mb-1 fw-normal">
                  <span>Referencia: </span>{{ rutas.referencia }}
                </p>
              </div>
            </div>
            <div class="card border-3 border-primary mr-0 mb-1">
              <div class="row mr-0 ml-0">
                <div class="col-md-8">
                  <div class="d-flex justify-content-around">
                    <p class="text-center mb-0">
                      <span>DERIVADO A LA UNIDAD DE: </span>
                    </p>
                    <p class="text-center mb-0">
                      <span>INSTRUCCION: </span>
                    </p>
                  </div>
                  <div class="d-flex justify-content-around">
                    <div class="">
                      <p class="fw-normal lh-1 mb-2">Concejo Municipal</p>
                      <p class="fw-normal lh-1 mb-2">Secretaria despacho</p>
                      <p class="fw-normal lh-1 mb-2">Asesoría Legal</p>
                      <p class="fw-normal lh-1 mb-2">Stria Mcpal Adm.Fin.</p>
                      <p class="fw-normal lh-1 mb-2">Stia. Mcipal de DDHH</p>
                      <p class="fw-normal lh-1 mb-2">Stria Mcpal de infraestructura</p>
                      <p class="fw-normal lh-1 mb-2">Stria Mcpal de DD EE</p>
                      <p class="fw-normal lh-1 mb-2">Planificación</p>
                      <p class="fw-normal lh-1 mb-2">Recursos Humanos</p>
                      <p class="fw-normal lh-1 mb-2">Contabilidad</p>
                    </div>
                    <div class="mr-0">
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>

                    </div>
                    <div class="">
                      <p class="fw-normal lh-1 mb-2">Activos Fijos</p>
                      <p class="fw-normal lh-1 mb-2">Almacenes</p>
                      <p class="fw-normal lh-1 mb-2">Defensorías</p>
                      <p class="fw-normal lh-1 mb-2">SLIM.</p>
                      <p class="fw-normal lh-1 mb-2">Omot</p>
                      <p class="fw-normal lh-1 mb-2">Intendencia</p>
                      <p class="fw-normal lh-1 mb-2">Recaudaciones</p>
                      <p class="fw-normal lh-1 mb-2">Comunicación</p>
                      <p class="fw-normal lh-1 mb-2">Turismo y Cultura</p>
                      <p class="fw-normal lh-1 mb-2">__________________</p>
                    </div>
                    <div class="">
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                    </div>
                    <div class=" mt-2 ml-4">
                      <p class="fw-normal lh-1 mb-2">Remita informe</p>
                      <p class="fw-normal lh-1 mb-2">Dar el curso al trámite</p>
                      <p class="fw-normal lh-1 mb-2">Supervisé</p>
                      <p class="fw-normal lh-1 mb-2">Proceda a su registro</p>
                      <p class="fw-normal lh-1 mb-2">Prepare el documento</p>
                      <p class="fw-normal lh-1 mb-2">Revíse</p>
                      <p class="fw-normal lh-1 mb-2">Resuelva</p>
                      <p class="fw-normal lh-1 mb-2">Para su conocimiento</p>
                      <p class="fw-normal lh-1 ">___________________</p>
                    </div>
                    <div class="mr-3 mt-2">
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                      <p class="card cardchek border-2 border-secondary "></p>
                    </div>
                 </div>
                </div>

                <div class="col-md-4">
                  <div class=" mt-5 ml-0">
                    <br>
                    <br>
                    <p class="fw-normal lh-1 mb-2 text-center">Firma y sello MAE</p>
                    <p class="fw-normal lh-1 mb-2">........................................................................................</p>
                    <p class="fw-normal lh-1 mb-2">........................................................................................</p>
                    <p class="fw-normal lh-1 mb-2">........................................................................................</p>
                    <p class="fw-normal lh-1 mb-2">........................................................................................</p>
                    <p class="fw-normal lh-1 mb-2 mt-4 text-center">Fecha:........./.........../...........</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="mt-1  ">
              <div class="row pl-0 pr-0">
                <div class="col mr-0 pr-0 pl-3">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
                <div class="col pl-1">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-1  ">
              <div class="row ">
                <div class="col mr-0 pr-0 pl-3">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
                <div class="col pl-1">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-1  ">
              <div class="row ">
                <div class="col mr-0 pr-0 pl-3">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
                <div class="col pl-1">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./.....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-1  ">
              <div class="row ">
                <div class="col mr-0 pr-0 pl-3">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
                <div class="col pl-1">
                  <div class="card border-3 border-primary p-2 pb-0">
                    <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./....................
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:............................................................ </label>
                    <label class="form-check-label"> Instrucción:........................................................................................................................ </label>
                    <label class="form-check-label">............................................................................................................................................ </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MODAL SEGUIMIENTO-->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1 d-flex justify-content-around">
        <button
          type="button"
          class="btn btn-success p-0"
          data-bs-dismiss="modal"
          (click)="ImprimirPDF()"
        >
          <i class="fas fa-print p-0"></i>
          Imprimir
        </button>
        <button
          type="button"
          class="btn btn-primary p-0"
          (click)="downloadPDF()"
        >
          <i class="fas fa-cloud-download-alt p-0"></i>
          Descargar
        </button>
      </div>
      <div class="modal-body pb-0">
        <div id="htmlData">
          <div class="segui">
            <div class="d-flex justify-content-between ml-3 mb-0">
              <div>
                <img src="assets/img/logo.png" class="logo ml-4 mb-0" />
              </div>
              <div class="text-center ml-5 mt-3 mb-0">
                <p class="mb-0 fs-5">GOBIERNO AUTÓNOMO MUNICIPAL DE BETANZOS</p>
                <p class="mb-0">
                  Primera Sección Municipal Provincial Cornelio Saavedra
                </p>
                <samp>Betanzos - Potosí - Bolivia</samp>
                <p class="mb-0 fs-4">HOJA DE RUTA</p>
              </div>
              <div class="p-3 mt-4">
                <h5 class="text-center mb-0 fs-5 mb-1">NUIT</h5>
                <div class="badge badge-info text-dark text-center fs-5">
                  N°:&nbsp;&nbsp;<strong></strong>{{ rutas.nuit | uppercase }}
                </div>
              </div>
            </div>
            <div class="card pl-2 pr-2 border-3 border-primary mb-1">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="card-text fw-normal">
                    <span>Fecha de recepcion: </span
                    >{{ rutas.fecharesepcion | date: "dd/MM/yyyy" }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Hora: </span
                    >{{ rutas.fecharesepcion | date: "HH:MM:ss" }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Fecha de documento: </span
                    >{{ rutas.fechadocumento | date: "dd/MM/yyyy" }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Telefono: </span>{{ rutas.contacto }}
                  </p>
                </div>
                <hr class="mt-0" />
                <div class="d-flex justify-content-between">
                  <p class="card-text fw-normal">
                    <span>Origen: </span>{{ rutas.origen }}
                  </p>
                  <p class="card-text fw-normal">
                    <span>Tipo de documento: </span>{{ rutas.tipodoc }}
                  </p>
                </div>
                <hr class="mt-0" />
                <p class="card-text text-break lh-1 pt-1 mb-1 fw-normal">
                  <span>Referencia: </span>{{ rutas.referencia }}
                </p>
              </div>
            </div>
            <div class=" ">
              <div class="card border-3 border-primary mb-1">
                <div class="card-body text-center">
                  <span class="titulo">LISTA DE SEGUIMIENTO </span>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Derivado A...</th>
                        <th scope="col">Detalle de Instrucion</th>
                        <th scope="col">Fecha Recepcion</th>
                        <th scope="col">Tiempo de Resp.</th>
                        <th scope="col">Fecha Derivado</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let seguiss of seguim">
                        <td *ngIf="idhr === seguiss.idhj">
                          {{ seguiss.destino }}
                          <br />
                          <p *ngIf="seguiss.recibidox" class="text-capitalize">
                            {{ seguiss.recibidox }}
                          </p>
                        </td>
                        <td *ngIf="idhr === seguiss.idhj">
                          {{ seguiss.detalles }}
                          <br />
                          <p
                            *ngIf="seguiss.estado === 'MALETIN'"
                            class="badge badge-warning text-dark"
                          >
                            {{ seguiss.smsarchivo }}
                          </p>
                        </td>
                        <td *ngIf="idhr === seguiss.idhj">
                          <i
                            [ngClass]="
                              seguiss.fecharecepcion === 'SIN RESEPCIONAR'
                                ? 'badge badge-danger'
                                : ''
                            "
                          >
                            <span
                              *ngIf="
                                seguiss.fecharecepcion === 'SIN RESEPCIONAR'
                              "
                            >
                              {{ seguiss.fecharecepcion }}
                            </span>
                            <span
                              *ngIf="
                                seguiss.fecharecepcion != 'SIN RESEPCIONAR'
                              "
                            >
                              {{
                                seguiss.fecharecepcion
                                  | amLocale: "es"
                                  | amTimeAgo
                              }} </span
                            ><br />
                            <span
                              *ngIf="
                                seguiss.fecharecepcion != 'SIN RESEPCIONAR'
                              "
                            >
                              {{
                                seguiss.fecharecepcion
                                  | amLocal
                                  | amDateFormat: "DD-MM-YY HH:mm"
                              }}
                            </span>
                          </i>
                        </td>
                        <td *ngIf="idhr === seguiss.idhj">
                          <span *ngIf="seguiss.fecharespuesta != null">{{
                            seguiss.fecharespuesta
                              | amDifference
                                : seguiss.fechaderivado
                                : "seconds"
                                : true
                              | amDuration: "seconds"
                          }}</span>
                          <span
                            *ngIf="
                              seguiss.fecharespuesta == null &&
                              seguiss.estado === 'DERIVADO'
                            "
                            >{{
                              seguiss.fecharecepcion
                                | amDifference
                                  : seguiss.fechaderivado
                                  : "seconds"
                                  : true
                                | amDuration: "seconds"
                            }}</span
                          >
                          <span
                            *ngIf="
                              seguiss.fecharespuesta == null &&
                              seguiss.estado === 'MALETIN'
                            "
                            >{{
                              seguiss.fecharecepcion
                                | amDifference
                                  : seguiss.fechaderivado
                                  : "seconds"
                                  : true
                                | amDuration: "seconds"
                            }}</span
                          >
                          <samp
                            *ngIf="
                              seguiss.estado === 'ENVIADO' ||
                              seguiss.estado === 'RECIBIDO'
                            "
                            >Sin Responder</samp
                          >
                        </td>
                        <td *ngIf="idhr === seguiss.idhj">
                          <span
                            *ngIf="seguiss.fechaderivado != 'SIN RESEPCIONAR'"
                          >
                            {{
                              seguiss.fechaderivado | amLocale: "es" | amTimeAgo
                            }} </span
                          ><br />
                          <span
                            *ngIf="seguiss.fechaderivado != 'SIN RESEPCIONAR'"
                          >
                            {{
                              seguiss.fechaderivado
                                | amLocal
                                | amDateFormat: "DD-MM-YY HH:mm"
                            }}
                          </span>
                        </td>
                        <td
                          [ngSwitch]="seguiss.estado"
                          *ngIf="idhr === seguiss.idhj"
                        >
                          <span
                            *ngSwitchCase="'ENVIADO'"
                            class="badge badge-danger"
                            >{{ seguiss.estado }}</span
                          >
                          <span
                            *ngSwitchCase="'RECIBIDO'"
                            class="badge badge-success"
                            >{{ seguiss.estado }}</span
                          >
                          <span
                            *ngSwitchCase="'DERIVADO'"
                            class="badge badge-info"
                            >{{ seguiss.estado }}</span
                          >
                          <span
                            *ngSwitchCase="'MALETIN'"
                            class="badge badge-warning"
                            >{{ seguiss.estado }}</span
                          >
                          <span
                            *ngIf="
                              seguiss.estado != 'DERIVADO' &&
                              seguiss.estado != 'MALETIN' &&
                              seguiss.estado != 'RECIBIDO' &&
                              seguiss.estado != 'ENVIADO'
                            "
                            class="badge badge-secondary text-dark"
                            >{{ seguiss.estado }}</span
                          >
                          <br />
                          <i>{{ seguiss.copia }}</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <app-spiner *ngIf="loading"></app-spiner>
                </div>
              </div>
              <div>
                <i class="ml-3"
                  >Usuario: {{ identity.username }} {{ identity.surnames }}</i
                >
                <i class="mr-3 float-end"
                  >Fecha Descarga:
                  {{ today | amLocal | amDateFormat: "DD-MM-YY HH:mm" }}
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal reguister-->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog register">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container pt-3">
              <div class="card">
                <div class="card-body text-center">
                  <span class="titulo"> {{ titulo | uppercase}} </span>
                  <p class="fw-bold fa-2x">{{ cant +1 }}</p>
                  <form
                    class="mt-3"
                    [formGroup]="hojaForm"
                    (ngSubmit)="registerHojas()"
                  >
                    <div class="mb-2">
                      <input
                        type="text"
                        formControlName="origen"
                        class="form-control"
                        placeholder="Origen"
                      />
                      <div
                        class="text-danger"
                        *ngIf="
                          hojaForm.get('origen')?.hasError('required') &&
                          hojaForm.get('origen')?.touched
                        "
                      >
                        <span>El origen <strong>es obligatorio</strong></span>
                      </div>
                    </div>
                    <div class="mb-2">
                      <input
                        type="text"
                        formControlName="tipodoc"
                        class="form-control"
                        placeholder="Tipo del Documento"
                      />
                      <div
                        class="text-danger"
                        *ngIf="
                          hojaForm.get('tipodoc')?.hasError('required') &&
                          hojaForm.get('tipodoc')?.touched
                        "
                      >
                        <span>El campo <strong>es obligatorios</strong></span>
                      </div>
                    </div>
                    <div class="mb-2">
                      <input
                        type="text"
                        formControlName="contacto"
                        class="form-control"
                        placeholder="Numero de Telefono o Celular"
                      />
                    </div>
                    <div class="mb-2">
                      <textarea
                        formControlName="referencia"
                        class="form-control"
                        placeholder="Escriba el detalle de referencia"
                      ></textarea>
                      <div
                        class="text-danger"
                        *ngIf="
                          hojaForm.get('referencia')?.hasError('required') &&
                          hojaForm.get('referencia')?.touched
                        "
                      >
                        <span>Detalle de referencia <strong>es obligatorios</strong></span>
                      </div>
                    </div>
                    <div class="mb-2">
                      <label for="fecha" class="mb-0">Fecha de Documento </label>
                      <input
                        type="date"
                        formControlName="fechadocumento"
                        class="form-control"
                        placeholder="Fecha de Nacimiento"
                      />
                      <div
                        class="text-danger"
                        *ngIf="
                          hojaForm.get('fechadocumento')?.hasError('required') &&
                          hojaForm.get('fechadocumento')?.touched
                        "
                      >
                        <span>Fecha <strong>es obligatoria</strong></span>
                      </div>
                    </div>
                    <div class="mb-2">
                      <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal" (click)=" getHojas()" >CERRAR</button>
                      <button
                        type="submit"
                        [disabled]="hojaForm.invalid"
                        class="btn btn-success float-end"
                      >
                        ACEPTAR
                      </button>
                    </div>
                  </form>
                </div>
              </div>
        </div>       
      </div>
    </div>
  </div>
</div>
