<div class="side-bar">
  <div class="logo">
    <img src="./assets/img/logogambb.png" alt="Company Logo" />
  </div>
  <h2 matSubheader class="mt-2">APLICACIONES</h2>

  <ul class="side-bar__list" routerLinkActive="list-item-active"  routerLink="/home">
      <li  >
          <div class="list-wrapper-item">
               <i class="fas fa-home"></i>
              <span class=" ">Inicio</span>
          </div>
      </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/dashboard">
    <li  >
        <div class="list-wrapper-item">
             <i class="fa fa-dashboard"></i>
            <span class=" ">Panel de Control</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/usuarios">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-users"></i>
            <span class=" ">Usuarios</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/correspondencia">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-clipboard"></i>
            <span class=" ">Mi Oficina</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/listhr">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-directions"></i>
            <span class=" ">Hoja de Ruta</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/organizacion">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-sitemap"></i>
            <span class=" ">Organizacion</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/reportes">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-line-chart"></i>
            <span class=" ">Reportes</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/apps">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-warehouse"></i>
            <span class=" ">Apps</span>
        </div>
    </li>
  </ul>
</div>
