<div class="side-bar">
  <div class="logo">
    <img src="./assets/img/logogambb.png" alt="Company Logo" />
  </div>
  <h2 matSubheader class="mt-2">APLICACIONES</h2>

  <ul class="side-bar__list" routerLinkActive="list-item-active"  routerLink="/home" >
      <li  >
          <div class="list-wrapper-item">
               <i class="fas fa-home"></i>
              <span class=" ">Inicio</span>
          </div>
      </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/dashboard"*ngIf="identity && identity.roles==='SUPER_ADMIN' || identity.roles==='SECRETARIA' || identity.roles==='SUPER_USER' || identity.roles==='USER' || identity.roles==='ADMIN'">
    <li  >
        <div class="list-wrapper-item">
             <i class="fa fa-dashboard"></i>
            <span class=" ">Panel de Control</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/usuarios"*ngIf="identity && identity.roles==='SUPER_ADMIN' " >
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-users"></i>
            <span class=" ">Usuarios</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/correspondencia" *ngIf="identity && identity.roles==='SUPER_ADMIN' || identity.roles==='SECRETARIA' || identity.roles==='SUPER_USER' || identity.roles==='USER' || identity.roles==='ADMIN'">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-clipboard"></i>
            <span class=" ">Mi Oficina</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/listhr" *ngIf="identity && identity.roles==='SUPER_ADMIN' || identity.roles==='SECRETARIA' || identity.roles==='SUPER_USER' || identity.roles==='USER' || identity.roles==='ADMIN'">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-directions"></i>
            <span class=" ">Hoja de Ruta</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/hoja-ruta/organizacion" *ngIf="identity && identity.roles==='SUPER_ADMIN'">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-sitemap"></i>
            <span class=" ">Organizacion</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/work" *ngIf="identity && identity.roles==='SUPER_ADMIN' || identity.roles==='SECRETARIA' || identity.roles==='SUPER_USER' || identity.roles==='USER' || identity.roles==='ADMIN'">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-line-chart"></i>
            <span class=" ">Reportes</span>
        </div>
    </li>
  </ul>
  <ul class="side-bar__list" routerLinkActive="list-item-active" routerLink="/work">
    <li  >
        <div class="list-wrapper-item">
             <i class="fas fa-warehouse"></i>
            <span class=" ">Apps</span>
        </div>
    </li>
  </ul>
</div>
