.card-img-overlay{
  background-color: rgba(79,185,168,.5);
  position: absolute;
  border-radius: 8px;
  top: 140%;
  left: 18%;
  width: 500px;
  height: 250px;
  margin-top: -250px;
  margin-left: -250px;
  text-align: center;
}
.card-al{
  padding: 20px !important;
  justify-content: center;
  background-color: rgba(40, 199, 106, 0.5) !important;
}
.card-alc{
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid white;
  max-height: 480px;
  max-width: 480px;

}

