#menu{
  justify-content: center;
  left: 20px;
  margin-right: 20px;
}
header{
  margin: 0 0 0 14rem;
  background-color: rgba(10, 190, 235, 0.5);
}
.container-fluid {
margin-left: 10% !important;
}
.dropdown-menu{
background-color: rgba(54, 151, 216, 0.5);
}
.user {
  font-size: 14px;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user-image-icon {
  height: 15px;
  font-size: 14px;
}
ul li {
  list-style: none;
}
button {
  outline: none;
  border: 0;
  background: transparent;
}

