.logo img {
  width: 150px;
}
#menu{
  justify-content: center;
  left: 10px;
  margin-right: 15px;
  padding: 0% !important;
}
header{
  background-color: rgb(17, 232, 228);
  position:sticky;
  top:0;
  z-index: 100;
}

.dropdown-menu{
background-color: rgba(54, 151, 216, 0.5);
}
.user {
  font-size: 14px;
}
.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.user-image-icon {
  height: 15px;
  font-size: 14px;
}
ul li {
  list-style: none;

  padding: 5px;
}
button {
  outline: none;
  border: 0;
  background: transparent;
}

.side-bar__list {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff !important;
  font-size: medium;
  list-style: none;
  cursor: pointer;
}
.list-wrapper-item {
  padding: 5px !important;
}

.side-bar__list:hover {
  color: #f7f2f5 !important;
  background-color: #8972e6 !important;
  border-radius: 5px;
}
.list-item-active{
  color: #f2f5f7 !important;
  background: #b575d2 !important;
  border-radius: 5px;
}
.list-item-active:hover{
  color: #36f5f5 !important;
  background: #3f6fe1 !important;
  border-radius: 5px;
}



