.logo img {
  width: 200px;
}
#menu{
  justify-content: center;
  left: 20px;
  margin-right: 20px;
}
header{
  margin: 0 0 0 16rem;
  background-color: rgba(10, 190, 235, 0.5);
}
.container-fluid {
margin-left: 10% !important;
}
.dropdown-menu{
background-color: rgba(225, 88, 197, 0.5);
}
